# Secrets - jamais sur GitHub
backend/.env
mobile/.env
rope-app/.env

# Dependencies
node_modules/
backend/node_modules/
mobile/node_modules/
rope-app/node_modules/

# Expo
mobile/.expo/
rope-app/.expo/
mobile/dist/
rope-app/dist/

# Docker volumes
pgdata/

# OS
.DS_Store
*.log
mobile/.env
.env
**/.env
